<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    @*<meta charset="utf-8" />*@
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@




    <!-- ============================================
    ================= Stylesheets ===================
    ============================================= -->
    @Scripts.Render("~/Scripts/orgchart.js")
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <link href="@Url.Content("http://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic|Raleway:300,400,500,600,700")" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="~/assets/images/icons/logo 2.png" />


    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/fonts/awesome")*@
    <link rel="stylesheet" href="~/fonts/css/all.css" />
    
    @Styles.Render("~/bundles/w3")
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css" />
    @*@Scripts.Render("~/bundles/modernizr")*@


    @*<link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/animate.css" type="text/css" />

        <link rel="stylesheet" href="~/Content/magnific-popup.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/OwlCarousel/owl.carousel.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/OwlCarousel/owl.theme.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/morris.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/jquery.bxslider.css">*@


    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    @*<link rel="stylesheet" type="text/css" href="~/Content/settings.css" media="screen" />*@
    @Styles.Render("~/bundles/settings")

    <!-- animsition CSS -->
    @*<link rel="stylesheet" href="~/Content/animsition.min.css">*@
    @Styles.Render("~/bundles/animsition")



    <!-- jQuery -->

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bxslider")
    @Scripts.Render("~/bundles/datatablejs")




    @Styles.Render("~/bundles/datatablecss")


    @*<script src="~/Scripts/jquery.bxslider.js"></script>
        <script src="~/Scripts/script.js"></script>*@
    <!-- ============================================
    ============= Main App Stylesheet ===============
    ============================================= -->
    @*<link rel="stylesheet" href="~/Content/style.css" type="text/css" />*@

    <!-- CSS GALERIA -->
    @Styles.Render("~/bundles/galeriacss")



    @*<link rel="stylesheet" type="text/css" href="~/Content/jquery.fancybox.min.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/style_galeria.css" />*@

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--[if lt IE 9]>
          <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
      <![endif]-->


    <title>@ViewBag.Title  Mi Pagina</title>
    <style>
        .mySlides {
            display: none;
        }
    </style>
</head>
<body>
    <!-- ================================================
           ================= Search Container ==================
           ================================================= -->
    @*<div id="search-container" class="search-box-wrapper">
            <div class="container">
                <i class="fa fa-search"></i>
                <div class="search-box">
                    <form action="http://example.com/" class="search-form" role="search">
                        <input type="search" name="s" value="" title="Press Enter to submit your search" placeholder="Search…" class="search-field">
                        <input type="submit" value="Search" class="search-submit">
                    </form>
                </div>
            </div>
        </div>*@
    <!--/ #search-container -->
    <!-- ============================================
            ==================== Header =====================
            ============================================= -->

    <header id="header" class="transparent-header light">
        <!-- class .sticky-mobile makes header sticky on small devices -->

        <div id="header-wrap">

            <div class="container clearfix" style="margin-left: 2%;">

                <div id="main-navbar-toggle"><i class="fa fa-bars"></i></div>


                <!-- ============================================
                                =================== Branding ====================
                                ============================================= -->

                <div id="branding">
                    <!-- <a href="index.html" class="brand-normal" data-light-logo="assets/images/logo.png"><img src="assets/images/logo-dark.png" alt="Minovate"></a>
                                      <a href="index.html" class="brand-retina" data-light-logo="assets/images/logo@2x.png"><img src="assets/images/logo@2x-dark.png" alt="Minovate"></a> -->
                    @*<a href="@Url.Content("~/Home/Index")" class="brand-normal" data-light-logo="assets/images/icons/monedaBlanco.png"><img src="~/assets/images/icons/moneda.png" alt="DIN"></a>
                        <a href="@Url.Content("~/Home/Index")" class="brand-retina" data-light-logo="assets/images/icons/monedaBlanco.png"><img src="~/assets/images/icons/moneda.png" alt="DIN"></a>*@

                    <a href="@Url.Content("~/Home/Index")" class="brand-normal" data-light-logo="@Url.Content("~/assets/images/icons/logo 1.png")"><img src="@Url.Content("~/assets/images/icons/logo 2.png")" alt="LOGO"></a>
                    <a href="@Url.Content("~/Home/Index")" class="brand-retina" data-light-logo="@Url.Content("~/assets/images/icons/logo 1.png")"><img src="@Url.Content("~/assets/images/icons/logo 2.png")" alt="LOGO"></a>


                    @*<a href="@Url.Content("~/Home/Index")" class="brand-normal" style="margin-top: 25px;">
                                                <svg version="1.1" id="logo-principal-blanco" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="172px" height="53px" viewBox="0 0 172 53" style="enable-background:new 0 0 172 53;"
                                                     xml:space="preserve">

                                                    <style type="text/css">
                                                        .st0 {
                                                            fill: #FFFFFF;
                                                        }
                        </style>
                                                    <path class="st0" d="M59.649704,12.2184515c1.0357628,3.176775,1.2632942,6.693059,0.6207428,10.3411016
                                                            C58.0590324,35.094841,46.0553055,45.2940559,33.5078621,45.2940559c-1.0104408,0-1.9975719-0.0714607-2.9649582-0.1991539
                                                            l-1.7497692,4.1152573c1.3915024,0.259449,2.8336945,0.3967743,4.3159275,0.3967743
                                                            c13.21381,0,25.8545036-10.7317963,28.1794319-23.9202785C62.1423569,20.8452435,61.5530167,16.2115841,59.649704,12.2184515"></path>
                                                    <path class="st0" d="M49.4752769,2.4562039l-3.2776222,7.7678609c2.3386116,0.3354721,4.0656013,1.0053816,4.0656013,1.0053816
                                                            l-3.8608818,3.5669622c-0.9729347-0.2645226-2.173912-0.5067425-3.3206711-0.5067425
                                                            c-2.4612617,0-4.0144119,1.1325607-4.3301201,2.9350481c-0.3329239,1.8861027,0.5574188,2.7668095,1.5364494,4.1912651
                                                            l1.6215668,2.3041573c1.2835884,1.8040009,2.3416595,3.8137436,1.9347382,6.1224632
                                                            c-0.8822365,4.987875-4.8256989,7.1258183-10.0948143,7.713644l-2.7146149,6.3813972
                                                            c0.731226,0.0775414,1.4766502,0.117054,2.2423286,0.117054c12.0098038,0,23.4616776-9.7350159,25.5788574-21.7443085
                                                            C60.4153328,13.4601307,56.4657822,5.8508749,49.4752769,2.4562039"></path>
                                                    <path class="st0" d="M43.975338,3.858932c-0.0111504-0.0010054-0.0228119-0.0010054-0.0339584-0.0040517l0.0025368,0.0040517
                                                            H23.2820015l9.5313148,1.2602835c-5.8214607,2.115644-10.9542542,6.359612-14.1923466,11.7143536H8.9046993l8.7235699,1.7948933
                                                            c-1.0697289,2.1257744-1.8465767,4.397501-2.2620926,6.7563877c-1.189333,6.7493019,0.8280029,12.7729454,4.9508686,16.7605133H1.75
                                                            l23.674509,3.4058189l3.3313103-7.912281c-0.7763195-0.0587807-1.5080566-0.1581116-2.1789856-0.2716217l-8.185915-1.0185394
                                                            h4.6691208l4.0316391-3.7220268c1.3170223,0.3233032,2.9563446,0.6526833,4.15378,0.6526833
                                                            c2.5838795,0,4.1142368-1.0053825,4.5069599-3.227438c0.2589531-1.4670315-0.5974426-2.5575428-1.5820541-3.9399338
                                                            l-2.0654793-2.9335346c-0.9845963-1.3844185-1.8465595-3.4813175-1.5080566-5.4089603
                                                            c0.5746326-3.2522726,2.8879128-5.5072823,6.3504868-6.7118015l-6.5126476-0.9177122h10.9172649l1.5394783-3.689085
                                                            L43.975338,3.858932z"></path>
                                    </svg>
                                            </a>*@

                </div>
                <!-- #branding end -->
                <!-- ============================================
                                ================= Main Navbar ===================
                                ============================================= -->

                <nav id="main-navbar">

                    <ul style="width:80%;">
                        @*<li class="active">*@
                        <li>
                            @*<a href="index.html">Home</a>*@
                            @Html.ActionLink("Inicio", "Index", "Home")
                        </li>

                        @*<li>
                                @Html.ActionLink("Organigrama","lista","organigramas")
                            </li>*@
                        @*<li>
                            <a href="#servicios">Mis Servicios</a>
                            <ul>
                                <li><a href="#">Beneficios</a></li>
                                <li>
                                    @Html.ActionLink("Formatos", "Index", "formatos")
                                </li>
                                <li>
                                    @Html.ActionLink("Galeria", "Index", "Convenios")
                                </li>
                                <li>
                                    @Html.ActionLink("Sucursales", "lista", "directorio")
                                </li>

                                <li>
                                    @Html.ActionLink("Biblioteca", "Index", "bibliotecas")
                                </li>
                                <li>

                                    @Html.ActionLink("Revistas", "Index", "revistas")
                                </li>
                              

                               

                            </ul>
                        </li>*@

                        <li>
                            <a href="#servicios">Opciones</a>

                            <ul>
                                <li>@Html.ActionLink("Conocenos", "Index", "About")</li>
                                <li>
                                    @Html.ActionLink("Galeria", "Index", "Convenios")
                                </li>

                                <li>
                                    @Html.ActionLink("Sucursales", "lista", "directorio")
                                </li>
                            </ul>

                        @*<li><a href="#Organigrama">Organigrama</a></li>*@

                        </li>

                        <li>

                            @Html.ActionLink("Blog", "Index", "ComunidadDIN")
                        </li>

                        @Html.Partial("_administracion")

                        @Html.Partial("_LoginPartial")
                       


                    </ul>









                    <!-- ==============================================
                                      ================= Search Toggle ===================
                                      =============================================== -->
                    @*<div id="search-toggle"> <span>|</span> <a href="#"><i class="fa fa-search"></i></a> </div>*@







                </nav><!-- #main-navbar end -->


            </div>

        </div>

    </header><!-- #header end -->
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    @*<div class="container body-content">*@

    @RenderBody()





    <hr />



    @*</div>*@


    <div class="footer">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                           <img src="~/assets/images/icons/logo 1.png" style="width:150px;" />
                            
                        </div>                       

                    </div>

                </div>
                <div class="col-md-6" style="text-align:right;">
                    <span style="color:white; font-size:large; font-weight:bold;">@ViewBag.version</span>

                </div>

            </div>

        </div>

    </div>





    <!-- ============================================
              =================== Go to Top ===================
              ============================================= -->

    <div id="gotoTop" class="fa fa-angle-up hidden-md">
    </div>
    @*<img  id="gotoTop" src="~/assets/images/icons/moneda.png" style="width:4%; height:auto;" />*@






    <!-- ============================================


    ============== Vendor JavaScripts ===============
    ============================================= -->



    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
    @*<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/superfish.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jRespond.min.js"></script>
        <script type="text/javascript" src="~/Scripts/SmoothScroll.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.appear.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.stellar.min.js"></script>*@
    @*<script type="text/javascript" src="assets/js/vendor/flexslider/jquery.flexslider-min.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/jquery.magnific-popup.js"></script>
        <script type="text/javascript" src="~/Scripts/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jflickrfeed.min.js"></script>*@
    @*<script type="text/javascript" src="assets/js/vendor/tweet-js/jquery.tweet.min.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/jquery.countTo.js"></script>
        <script type="text/javascript" src="~/Scripts/raphael-min.js"></script>
        <script type="text/javascript" src="~/Scripts/morris.min.js"></script>*@

    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    @Scripts.Render("~/bundles/revolution")
    @*<script type="text/javascript" src="~/Scripts/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.themepunch.revolution.min.js"></script>*@

    <!-- animsition js -->
    @*<script src="~/Scripts/jquery.animsition.min.js"></script>*@
    @Scripts.Render("~/bundles/animsitionjs")
    <!-- scrips gallery -->
    @*<script src="~/Scripts/jquery.fancybox.min.js"></script>

        <script src="~/Scripts/script_galeria.js"></script>*@
    @Scripts.Render("~/bundles/galeriajs")

    @Scripts.Render("~/bundles/miScript")


    <!-- ============================================
      ============== Custom JavaScripts ===============
      ============================================= -->
    @*<script type="text/javascript" src="~/Scripts/global.js"></script>*@
    @Scripts.Render("~/bundles/globaljs")



    @*<script>

            function disableIE() {
                if (document.all) {
                    return false;
                }
            }
            function disableNS(e) {
                if (document.layers || (document.getElementById && !document.all)) {
                    if (e.which == 2 || e.which == 3) {
                        return false;
                    }
                }
            }
            if (document.layers) {
                document.captureEvents(Event.MOUSEDOWN);
                document.onmousedown = disableNS;
            }
            else {
                document.onmouseup = disableNS;
                document.oncontextmenu = disableIE;
            }
            document.oncontextmenu = new Function("return false");

        </script>*@

</body>

</html>
