@model DINTRANET.Models.usuarios

@{
    ViewBag.Title = "iniciarSesion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="contenedor_forms" style="width:30%; margin:auto; padding-top:5%; padding-bottom:18%;">
    <div class="container-fluid">

        @if (Session["usuario"] != null)
        {
            var usr = (DINTRANET.Models.usuarios)Session["usuario"];

            if (usr.rolId == 1 || usr.rolId == 2)
            {
                <img src="~/assets/images/401-Unauthorized-t.jpg" style="width:85%; height:100%;" />
            }

        }
        else
        {
            <div class="row">
                @*<div class="col-md-5 col-sm-5 col-xs-5">
                  <img src="~/assets/images/icons/moneda.png" style="width: 70%; height:auto; margin:auto;"/>
                </div>*@

                <div class="col-md-12 col-sm-12">

                    @using (Html.BeginForm("iniciarSesion", "sesiones", FormMethod.Post))
                    {

                  
                        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

                

                        @Html.AntiForgeryToken();
                    <div class="panel panel-default" style="border:none;">
                        <div class="panel-heading">
                            <img src="~/assets/images/fotoPerfil/AvatarGenerico.png" style="width:30%; margin: 0 35% 0 35%;" /><br />
                        <h2>Login</h2>
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                @*<label for="email">Email address:</label>*@
                                @*@Html.LabelFor(model => model.nickName, "nickName")*@
                                <label for="pwd">Usuario:</label>
                                @Html.EditorFor(model => model.nickName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nickName, "", new { @class = "text-danger" })
                                @*<input type="email" class="form-control" id="email">*@
                            </div>
                            <div class="form-group">
                                <label for="pwd">Contraseña:</label>


                                @Html.PasswordFor(model => model.password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                            <div class="checkbox">

                            </div>

                            <input type="submit" value="Iniciar Sesion" class="btn btn-default" />

                        </div>
                    </div>


                    }


                </div>

            </div>

                
        }

    </div>
</div>
