@model DINTRANET.Models.directorio

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="contenedor_forms">
    <h3>Estas Seguro que deseas eliminar el Registro?</h3>
    <div>
       
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tipo)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.sucursal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sucursal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.horario_apertura)
            </dt>

            <dd>
                @String.Format("{0:t}", Html.DisplayFor(model => model.horario_apertura))
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.horario_cierrre)
            </dt>

            <dd>
                @String.Format("{0:t}", Html.DisplayFor(model => model.horario_cierrre))
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.gerente_zona)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gerente_zona)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cel_gerente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cel_gerente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.encargado1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.encargado1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email_encargado1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email_encargado1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cel_encargado1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cel_encargado1)
            </dd>

@if (Model.encargado2 != "")
{

            <dt>
                @Html.DisplayNameFor(model => model.encargado2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.encargado2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email_encargado2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email_encargado2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cel_encargado2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cel_encargado2)
            </dd>
}

@if (Model.encargado3 != "")
{

            <dt>
                @Html.DisplayNameFor(model => model.encargado3)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.encargado3)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email_encargado3)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email_encargado3)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cel_encargado3)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cel_encargado3)
            </dd>
}
@if (Model.encargado4 != "")
{

            <dt>
                @Html.DisplayNameFor(model => model.encargado4)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.encargado4)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email_encargado4)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email_encargado4)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cel_encargado4)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cel_encargado4)
            </dd>
}

@if (Model.encargado5 != "")
{

            <dt>
                @Html.DisplayNameFor(model => model.encargado5)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.encargado5)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email_encargado5)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email_encargado5)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cel_encargado5)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cel_encargado5)
            </dd>
}


        </dl>

        @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        @Html.ActionLink("Regresara a la Lista", "Index")
    </div>
    }
    </div>

</div>