@model DINTRANET.Models.usuarios

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.roles.rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roles.rol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigo_Alterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo_Alterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagenPerfil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagenPerfil)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.usuarioId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
