@model IEnumerable<DINTRANET.Models.usuarios>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.roles.rol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigo_Alterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagenPerfil)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.roles.rol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo_Alterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagenPerfil)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.usuarioId }) |
            @Html.ActionLink("Details", "Details", new { id=item.usuarioId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.usuarioId })
        </td>
    </tr>
}

</table>
